<nav class="glass-navbar">
  <div class="navbar-logo">Tourizio</div>

  <div class="hamburger" (click)="toggleMenu()" [class.active]="menuActive">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <div class="navbar-links" [class.active]="menuActive">
    <a routerLink="/" routerLinkActive="active" (click)="closeMenu()">Home</a>
    <a routerLink="/destination" routerLinkActive="active" (click)="closeMenu()">Destination</a>

    <a routerLink="/tours" routerLinkActive="active" (click)="closeMenu()">Tours</a>
    <a routerLink="/gallery" routerLinkActive="active" (click)="closeMenu()">Gallery</a>
    <a routerLink="/blog" routerLinkActive="active" (click)="closeMenu()">Blog</a>
    <a routerLink="/contact" routerLinkActive="active" (click)="closeMenu()">Contact</a>
  </div>
</nav>
